<!-- Header-->
<header class="">
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img id="ci"
          src="https://i.postimg.cc/HxLDN9vd/handsome-young-man-recommending-store-showing-orange-shopping-bag-ok-sign-standing-blue-backg.jpg"
          class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img id="ci" src="https://i.postimg.cc/VkbNGmrD/two-girls-walking-with-shopping-city-streets.jpg"
          class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img id="ci" src="https://i.postimg.cc/2jbhRRZL/long-view-woman-with-shopping-tray.jpg" class="d-block w-100"
          alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</header>

<div>
  <div class="container ">
    <div class="row text-center mt-2 p-5">
      <div class="col-3 p-3" (click)="categoryProduct('')"
       style="height: 100px; width: 22%; background-color: aqua; border-radius: 50%;">
        <h1>all items</h1>
      </div>
      <div class="col-3 p-3" (click)="categoryProduct('2')"
       style="height: 100px; width: 22%; background-color: green; border-radius: 50%;">
        <h1>Fashion</h1>
      </div>

      <div class="col-3 p-3" (click)="categoryProduct('3')"
       style="height: 100px; width: 22%; background-color: blue;  border-radius: 50%;">
        <h1>Sports</h1>
      </div>

      <div class="col-3 p-3" (click)="categoryProduct('1')"
       style="height: 100px; width: 22%; background-color: yellow;  border-radius: 50%;">
        <h1>Electronics</h1>
      </div>

    </div>
  </div>
</div>

<!-- Section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <div *ngFor="let i of categoryProducts | search:searchString:'productName' " class="col mb-5">
        <div class="card h-100">
          <!-- Product image-->
          <img class="card-img-top" style="height: 300px;" src={{i.image}} alt="..." />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">{{i.productName}}</h5>
              <!-- Product price-->
              {{i.price}} Rs
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="products/view/{{i.id}}">View</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>